.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    width: 100vmax; /*utiliza a largura máxima da tela*/
  }
  
  .login-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    
  }

  .form-group {
    margin-bottom: 1rem;   /* espaço entre cada campo */
    display: flex;
    flex-direction: column; /* empilha label e input */
  }  
  
 